# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\CODEGYM_COURSE\codegym_Module3\CaseStudy\Module3ExamTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.gradle
build
.idea
